argcomplete==1.12.3
Alchy
alembic
Click
coloredlogs
ruamel.yaml
SQLAlchemy<1.4
marshmallow
tabulate
python-dateutil
pandas
requests

# server
Flask                # versioned due to setup.py install misselecting Flask-SQLAlchemy otherwise
Flask-Alchy
Flask-SQLAlchemy==2.1
Flask-CORS
Flask-Reverse-Proxy
markupsafe
google-auth
gunicorn

# misc
pymysql
python-dateutil
cryptography
pydantic
