Alchy
Click<7
SQLAlchemy<1.4
alembic
coloredlogs
marshmallow
requests
ruamel.yaml
tabulate

# server
Flask-Alchy
Flask-CORS
Flask-Reverse-Proxy
Flask-SQLAlchemy==2.1
Flask>=1.1.1                # versioned due to setup.py install misselecting Flask-SQLAlchemy otherwise
google-auth
gunicorn
markupsafe==2.0.1

# misc
cryptography
pydantic
pymysql
