pytest>=5.2                 # due to  pytest-cov, pytest-flask
pytest-cov
pytest-flask
coveralls
git-lint
pylint
pycodestyle
yamllint
docutils
html-linter
tidy
six>=1.12                   # due to astroid 2.3.1
