{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{ url_for('.static', filename='css/simplex.min.css') }}">
{% endblock %}

{% block title %}Analysis tracker{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          Analyses
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% block right_nav %}
          <li><a href="{{ url_for('analyses') }}">View all</a></li>
        {% endblock %}
      </ul>
    </div>
  </nav>
{% endblock %}
