{% extends "base.html" %}
{% import "utils.html" as utils %}

{% block navbar_left %}
<p class="navbar-text">
    {% if metadata.updated_at %}
        Last update: {{ metadata.updated_at }}
    {% endif %}
</p>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {{ utils.analyses_panel('Recently failed', fails, category='primary', add_hide=True) }}
  {{ utils.analyses_panel('Currently running', runnings, category='info', editable=False) }}
  {{ utils.analyses_panel('Recently completed', recents, category='success', only_complete=True) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{url_for('static', filename='app.js')}}"></script>
{% endblock %}
