{% macro analyses_panel(title, analyses, category='default') %}
    <div class="panel panel-{{ category }}">
        <div class="panel-heading">
            {{ title }}
        </div>

        <div class="table-responsive">
            {{ analyses_table(analyses, **kwargs) }}
        </div>
    </div>
{% endmacro %}

{% macro analyses_table(analyses, editable=True, colored=False, only_complete=False) %}
    {% set status_options = ['pending', 'running', 'completed', 'failed'] %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-xs-3">Case</th>
                <th class="col-xs-1">Started at</th>
                <th class="col-xs-1">Version</th>
                <th class="col-xs-1">Type</th>
                <th class="col-xs-1">Status</th>
                <th class="col-xs-2">
                    {% if only_complete %}
                        Runtime (h)
                    {% else %}
                        Failed step
                    {% endif %}
                </th>
                <th class="col-xs-3">Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for analysis in analyses %}
                {% if colored %}
                    {% if analysis.status == 'running' %}
                        {% set context_class = 'info' %}
                    {% elif analysis.status == 'failed' %}
                        {% set context_class = 'danger' %}
                    {% elif analysis.status == 'completed' %}
                        {% set context_class = 'success' %}
                    {% endif %}
                {% endif %}
                <tr class="{{ context_class }}">
                    <td>
                        <a href="{{ url_for('analysis', case_id=analysis.case_id) }}">
                            {{ analysis.case_id }}
                        </a>
                    </td>
                    <td>{{ analysis.started_at.date() }}</td>
                    <td>{{ analysis.pipeline_version }}</td>
                    <td>{{ analysis.type }}</td>
                    <td>
                        {% if editable %}
                            <form action="{{ url_for('update_status', analysis_id=analysis.id) }}" method="POST">
                                <select class="form-control input-sm" name="status" onchange="this.form.submit()">
                                    {% for status in status_options %}
                                        <option value="{{ status }}" {% if status == analysis.status %}selected{% endif %}>
                                            {{ status }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% else %}
                            {{ analysis.status }}
                        {% endif %}
                    </td>
                    <td>
                        {% if only_complete %}
                            {{ (analysis.runtime / 60 / 60) | round(1) }}
                        {% else %}
                            {% if analysis.status == 'failed' %}
                                {{ analysis.failed_step }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-xs-10">
                                {% if analysis.comment %}
                                    {{ analysis.comment }}
                                {% endif %}
                            </div>
                            <div class="col-xs-2">
                                {% if editable %}
                                    <div class="pull-right">{{ comment_modal(analysis) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No analyses</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro comment_modal(analysis) %}
    {% set modalId = "comment-%s"|format(analysis.id) %}

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#{{modalId}}"><span class="glyphicon glyphicon-pencil"></span></button>

    <!-- Modal -->
    <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add comment for {{ analysis.case_id }}</h4>
                </div>
                <form action="{{ url_for('comments', analysis_id=analysis.id) }}" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" name="comment" cols="30" rows="10">{{ analysis.comment if analysis.comment }}</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}
